<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1><%= welcomMessage %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis
      incidunt laudantium natus, quidem deserunt enim molestiae pariatur, quae
      exercitationem, magni labore quod debitis. Dolores facilis assumenda
      corrupti at ducimus facere.
    </p>
    <a href="/user/login">Login</a>
  </body>
</html>
