<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= username %>'s Account</h1>
    <a href="/user/logout">Log Out</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam impedit
      sunt hic, maiores doloribus sit aspernatur? Modi quos debitis officiis
      esse temporibus, ut alias quas, tenetur at, quidem quo numquam! Eos eius
      repellendus culpa provident minus fuga labore, veniam animi assumenda
      molestias, dolor pariatur laborum at sint. Enim, aspernatur eligendi?
    </p>
  </body>
</html>
